<!-- en/footer -->
<footer id="main-footer">
    <div class="inner">
        {% include nav.html %}
    
        <!-- Copyright -->
        <p id="site-info">© {{ 'now' | date: "%Y" }} <a href="https://laurentboileau.ca">Laurent Boileau</a> - All Rights Reserved</p>
        
        <!-- Legal -->
        <p>Apple, the Apple logo, iPhone, iPad, and Apple Watch are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.</p>
    </div>
</footer>
