<!-- fr/footer -->
<footer id="main-footer">
    <div class="inner">
        {% include nav.html %}
    
        <!-- Copyright -->
        <p id="site-info">© {{ 'now' | date: "%Y" }} <a href="https://laurentboileau.ca">Laurent Boileau</a> - Tous droits réservés</p>
        
        <!-- Legal -->
        <p>Apple, le logo Apple, l'iPhone, l'iPad et l'Apple Watch sont des marques commerciales d'Apple Inc., déposées aux États-Unis et dans d'autres pays. App Store est une marque de service d'Apple Inc.</p>
    </div>
</footer>
