<!-- fr/home -->
<div id="features">
    <!-- iPhone + iPad support-->
    <div>
        <img src="/assets/images/fr/home/ipad+iphone.png" class="feature-wide">
    </div>

    <!-- Navigate feature -->
    <div class="feature">
        <div class="feature-inner">
            <div class="feature-text">
                <h2>Naviguer</h2>
                <p>Parcourez les stations de métro et apprenez des informations utiles sur les horaires et points de service.</p>
                <p>Activez la fonction de localisation pour trouver les arrêts les plus proches.</p>
            </div>
            <div class="feature-img">
                <img src="/assets/images/fr/home/iphone-stations.png">
            </div>
        </div>
    </div>

    <!-- Trips feature -->
    <div class="feature">
        <div class="feature-inner">
            <div class="feature-text">
                <h2>Planifiez vos déplacements avec des alarmes</h2>
                <p>Planifiez une notification d'alarme pour vous informer du moment où il est temps de partir.</p>
                <p>Les options de configuration d'alarmes proviennent des calendriers de service sur le site Web de l'agence de transport en commun.</p>
            </div>
            <div class="feature-img">
                <img src="/assets/images/fr/home/iphone-alarms.png">
            </div>
        </div>
    </div>

    <!-- Best in class feature -->
    <div class="feature">
        <div class="feature-inner">
            <div class="feature-text">
                <h2>Conçu pour iPhone et iPad</h2>
                <p>Stations est conçu et optimisé pour iPhone et iPad.</p>
                <p>L'application suit les directives du HIG et utilise les technologies puissantes de la plate-forme telles que Widgets, Mode sombre, VoiceOver et le texte dynamique.</p>
            </div>
            <div class="feature-img">
                <img src="/assets/images/fr/home/iphone-widget.png">
            </div>
        </div>
    </div>
</div>
